<mat-toolbar color="primary">
    <a class="title" href="/">{{title}}</a>

    <div class="toolbar-spacer"></div>

    <a mat-button [routerLink]="['/profile']" *ngIf="loginDisplay" class="profile">Profile</a>

    <button mat-raised-button  (click)="loginPopup()" *ngIf="!loginDisplay">Login</button>

    <!--<mat-menu #loginMenu="matMenu">
        <button mat-menu-item (click)="loginRedirect()">Login Using redirect</button>
        <button mat-menu-item >Login</button>
    </mat-menu>-->

    <button mat-raised-button (click)="logout(true)" *ngIf="loginDisplay">Logout</button>

    <!--<mat-menu #logoutMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout using Redirect</button>
        <button mat-menu-item (click)="logout(true)">Logout using popup</button>
    </mat-menu>-->
    
</mat-toolbar>
<router-outlet></router-outlet>